# Virtual environments
.venv/
venv/
env/

# VSCode settings
.vscode/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
checkpoints/
*.pt
*.pth
data/TimGM6mb.sf2
tmp/
*.zip

# Notebooks folder
notebooks/

